{% extends 'base/base.html' %}

{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between align-items-center m-3">
  <h5 class="hk-pg-titleb mr-3">Total HR Confirmed</h5>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'hr_leads' %}">HR Leads</a></li>
{#      <li class="breadcrumb-item"><a href="{% url 'settings' %}">Settings</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">HR Confirmed</li>
    </ol>
  </nav>
</div>

<!-- /Breadcrumb -->

{% endblock %}

 {% block content %}
 <section class="hk-sec-wrapper">
    <div class="">

      <button type="button" class="btn btn-success mr-2 mb-3"><i class="glyphicon glyphicon-export"></i> Export</button></div>

    <div class="row">
      <div class="col-sm">
        <div class="table-wrap">
            <table id="datable_1" class="table table-bordered table-hover w-100 display pb-30">
                <thead class="bg-dark">
                    <tr>
                        <th class="text-white">HR Name</th>
                        <th class="text-white">Company Name</th>
                        <th class="text-white">Website</th>
                        <th class="text-white">Address</th>
                        <th class="text-white">Mobile Number</th>
                        <th class="text-white">Email</th>
                        <th class="text-white">Posted On</th>
                        <th class="text-white">Posted By</th>
                    </tr>
                </thead>
                <tbody>

                <tr>
                        <td>Harika</td>
                    <td><a href="{% url 'recruiters'%}">Adverse Technologies</a></td>
                        <td>https://adiversetech.com/</td>
                        <td>Hyderabad</td>
                        <td>979180399</td>
                        <td>harika12@gmail.com</td>
                        <td>March 17,2024,11:00 a.m.</td>
                        <td>Bhavya</td>
                    </tr>


                </tbody>
            </table>

        </div>
      </div>
    </div>
  </section>

{% endblock %}