{% extends 'base/base.html' %}
{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Job posted by anusha reddy[1]</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'hr' %}">HR details</a></li>
      <li class="breadcrumb-item active" aria-current="page">posted jobs</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %} 
{% block content %}
<section class="hk-sec-wrapper">
  <div class="">
    
    <a href='#' type="button" class="btn btn-success mr-2 mb-3"><i class="glyphicon glyphicon-export"></i> Export</a>
    
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
          <table id="datable_1" class="table table-hover w-100 display pb-30 table-bordered">
              <thead class="bg-dark">
                  <tr>
                      <th class="text-white">title</th>
                      <th class="text-white">Company Name</th>
                      <th class="text-white">Location</th>
                      <th class="text-white">Package</th>
                      <th class="text-white">Last Date</th>
                      <th class="text-white">Applied/Placed</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-primary " style="cursor: -webkit-grab; cursor: grab";
                      data-toggle="modal"data-target="#jobdescription">DOT NET Full Stack Developer</td>
                      <td>Seguro Soft Technoligies</td>
                      <td>Hyderabad</td>
                      <td>4LPA</td>
                      <td>30,march</td>
                      <td class="">
                          <span class="bg-primary py-1 px-2 rounded-pill"><a href="{% url 'applied' %}" class="text-white">100</a></span>/ <span class="bg-success rounded-pill py-1 px-2"><a href="{% url 'placed' %}" class="text-white">1</a></span>
                      </td>                         
                  </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
</section>



<!-- Job description model starts here -->

<div
class="modal fade"
id="jobdescription"
tabindex="-1"
role="dialog"
aria-labelledby="jobdescription"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-white md-3">Job description</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
      <div class="bg-white ">
        <h3 class="text-danger px-3 pt-2" ><i class="fa fa-globe"></i> QT Placements:</h3>
        <div class="col-md-6 form-group" style="margin-bottom: 20px">
          <span ><strong style="color: black">Job ID:</strong> 602</span>
      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span  ><strong style="color: black">Job Title:</strong> Python Full Stack Developer</span>
      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span><strong style="color: black">Job Category:</strong> Technical</span>

      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black;">Experience:</strong> 0-1 Year</span>
      </div>
      
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Qualification: </strong> Python Full Stack Developer</span>

      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Skills: </strong> Angular,Javascript,Python & Django</span>

      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Role:</strong> Python Developer</span>

      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Salary: </strong> 2.5LPA</span>

      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Location:</strong> Pan India</span>
      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Email:</strong> Arjun@gmail.com</span>
      </div>
      <div class="col-md-6 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Contact Number:</strong> 8976536789</span>

      </div>
      <div class="col-md-12 form-group"  style="margin-bottom: 20px">
          <span ><strong style="color: black">Last Date to apply:</strong> 23,march</span>
      </div>

      <div class="col-md-12 form-group"  style="margin-bottom: 20px">
        <span ><strong style="color: black">Posted Date:</strong> 30,march</span>
      </div>
    </div>
    </div>
    
  </div>
</div>
</div>

        <!-- Job description model ends here -->
        
{% endblock %}