{% extends 'base/base.html' %}

{% block content %}
<div style="padding-left: 20px; padding-right: 20px; " class="bg-white">
    <div class="hk-pg-header d-flex justify-content-between mb-0">
      <h3 class="hk-pg-title m-3">Jobs Panel</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0">
          <li class="breadcrumb-item"><a href="">Home</a>/Jobs Panel</li>
        </ol>
      </nav>
    </div>
</div>


 
<div class="container-fluid mt-3">
    <div class="row ">
        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-4 col-xl-3 ">
            <div class="card mt-2 text-white bg-info" >
                <div class="px-1 py-0.4 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(241, 199, 11, 0.7);">
                        <span style="font-size: 55px; opacity: 0.8; color: white; padding-left: 2pc;"><i class="fa fa-users"></i></span>
                    </div>
                    <div class="align-self-center" >
                        <h3 class="fw-bold" style="color: white;">911</h3>
                        <p>Total Students Applied</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'totalstudents' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>

        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white bg-warning">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> fa-map-marker  fa-arrow-circle-right-->
                    <div style="color: rgba(241, 199, 11, 0.7);">
                        <span style="font-size: 55px; opacity: 0.8; color: white; padding-left: 2pc;"><i class="fa fa-check-circle-o"></i></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white;">0</h3>
                        <p >Total Students Qualified</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'qualified' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>



        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white bg-success">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(241, 199, 11, 0.7);">
                        <span style="font-size: 55px; opacity: 0.8; color: white; padding-left: 2pc;"><i class="fa fa-star-half-empty"></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white;">2</h3>
                        <p style="padding-right: 0pc;">Total Students Placed</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'studentsplaced' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white bg-danger">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(236, 84, 57, 0.863);">
                        <span style="font-size: 55px; opacity: 0.8; color:white; padding-left: 2pc;"><i class="fa fa-crosshairs"></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; padding-right: 2pc;">78</h3>
                        <p>Students Not Placed</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'studentsnotplaced' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white bg-dark">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(236, 84, 57, 0.863);">
                        <span style="font-size: 55px; opacity: 0.8; color:white; padding-left: 2pc;"><i class="fa fa-file-text-o"></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white;padding-right: 4pc;">7</h3>
                        <p style="padding-right: 4pc;">Total HR Leads</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'hr_leads' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white bg-secondary">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(236, 84, 57, 0.863);">
                        <span style="font-size: 55px; opacity: 0.8; color:white; padding-left: 2pc;"><i class="fa fa-stop-circle"></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; padding-right: 4pc;">18</h3>
                        <p style="padding-right: 2pc;">Not Interseted HR's</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'not_interested_hr' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white rounded bg-primary" >
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(236, 84, 57, 0.863);">
                        <span style="font-size: 55px; opacity: 0.8; color:white; padding-left: 2pc;"><i class="fa fa-diamond"></i></span>
                    </div>
                    <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white;">3</h3>
                        <p>HR Confirmed Leads</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'hr_confirmed' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 m-sm-auto col-sm-9 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card mt-2 text-white" style="background-color: rgb(228, 38, 149);">
                <div class="px-1 py-0 d-flex justify-content-between ">
                    <!-- <div class="align-self-center">
                        <h3 class="fw-bold" style="color: white; text-align: center;">911</h3>
                        <p>Total Students Applied</p>
                    </div> -->
                    <div style="color: rgba(236, 84, 57, 0.863);">
                        <span style="font-size: 55px; opacity: 0.8; color:white; padding-left: 2pc;"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="align-self-center" >
                        <h3 class="fw-bold" style="color: white; padding-right: 4pc;">1</h3>
                        <p style="padding-right: 5pc;">Recruiters</p>
                    </div>
                </div>
                <div class="card-footer border-0 py-1 text-center " style="background: rgba(45, 44, 44, 0.3);">
                    <a href="{% url 'recruiters' %}" class="text-white text-decoration-none" style="text-align: center; padding-left: 6pc;">More info <span> <i class="fa fa-angle-double-right" style="size: 55%;"></i></span></a>
                </div>
            </div>
        </div>

{% endblock %}