{% extends 'base/base.html' %} 
{% block title %}QTLineone | Student Details{% endblock %}
{% block breadCrum %}

  <!-- Breadcrumb -->
  <div class="hk-pg-header d-flex justify-content-between mb-0">
    <h4 class="hk-pg-title m-3">Students Details</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0">
        <li class="breadcrumb-item"><a href="{% url 'placement_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Details</li>      
      </ol>
    </nav>
  </div>
  <!-- /Breadcrumb -->
{% endblock %}

{% block content %}
<section class="hk-sec-wrapper" >
  <div class="">
    <button
      type="button"
      class="btn btn-primary mr-2 mb-3"
      data-toggle="modal"
      data-target="#Addstudent"
    >
    <i class="glyphicon glyphicon-plus"></i>
    Create student
   </button>
   <button type="button" class="btn btn-success mr-2 mb-3"><i class="glyphicon glyphicon-export"></i> Export</button>
   <button
   type="button"
   class="btn btn-secondary mr-2 mb-3"
   data-toggle="modal"
   data-target="#UploadDepartment"
 >
 <i class="glyphicon glyphicon-import"></i>  Import
 </button>
  </div>
  
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table
          id="datable_1"
          class="table table-hover w-100 display pb-30 table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white">S.No</th>
            <th class="text-white">Name</th>
            <th class="text-white">Technology</th>
            <th class="text-white">Contact</th>
            <th class="text-white">Email</th>
            <th class="text-white">Gender</th>
            <th class="text-white">year of Passing</th>
            <th class="text-white">Experience</th>
            <th class="text-white">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="{% url 'student_Report.html' %}">Gogulakonda sai charan</a></td>
            <td>Core Python</td>
            <td>9390951447</td>
            <td>saicharan@gmail.com</td>
            <td>Male</td>
            <td>2021</td>
            <td>0-1</td>
            <td class="text-center">
              <button class="btn btn-primary m-1" data-toggle="modal" data-target="#EditCourse">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteCourse">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</section>

<!--Add modal start here-->

<div class="modal fade" 
    id="Addstudent" 
    tabindex="-1"
    role="dialog" 
    aria-labelledby="Addstudent" 
    aria-hidden="true"
 >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" >Add student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-white">&times;</span>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
                  <div class="row ">
                      <div class="col-sm">

                          <div class="row">
                              <div class="col-md-4 mb-3">
                                  <label for="">Job Id</label><span class="text-danger">*</span>
                                  <input type="number" class="form-control" placeholder="680" required>
                              </div>
                              <div class="col-md-4">
                                <label for="">Company</label><span class="text-danger">*</span><br>
                                <input type="text" class="form-control" placeholder="Ex:Tcs,wipro" required>
                              </div>
                              <div class="col-md-4">
                                <label for="">Admission Id</label><span class="text-danger">*</span>
                                <input type="number" class="form-control" placeholder="Ex:234546,87998" required>
                              </div>
                          </div>
      
                          <div class="row">
                              <div class="col-sm">
                                <div class="row">
                                  <div class="col-md-4 mb-3">
                                    <label for="" >Full Name</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" placeholder="Ex:Dhana laskhmi mullu"  required>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" >Email</label><span class="text-danger">*</span>
                                    <input type="email" class="form-control" placeholder="Ex:dhana@gmail.com"  required>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" >Phone Number</label><span class="text-danger">*<span>
                                    <input type="number" class="form-control" placeholder="Ex:9498376345" required>
                                  </div>
                                </div>
                              </div>
                            </div>
      
                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                <div class="col-md-4 mb-3" >
                                  <label for="">Alternative Phone Number</label><span class="text-danger">*</span>
                                  <input type="number" class="form-control" placeholder="Ex:7873344512"  required>
                                </div>
                                <div class="col-md-4">
                                  <label for="" >Qualification</label><span class="text-danger">*</span>
                                  <input type="number" class="form-control" placeholder="Ex:B tech,Mca" required>
                                </div>
                                <div class="col-md-4">
                                  <label for="" >Aggregate Percentage</label><span class="text-danger">*</span>
                                  <input type="number" class="form-control" placeholder="Ex:60%,95%" required>
                                </div>
                              </div>
                            </div>
                          </div>
      
                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                <div class="col-md-4 mb-3">
                                  <label for="" >Year of Pass</label><span class="text-danger">*</span>
                                  <input type="number" class="form-control" placeholder="Ex:2021,2022" required>
                               </div>
                               <div class="col-md-4">
                                <label for="" >Gender</label><span class="text-danger">*<span><br/>
                                <select class="form-control custom-select"  required>
                                  <option selected>.......</option>
                                  <option value="1">Female</option>
                                  <option value="2">Male</option>
                                </select>
                              </div>
                              <div class="col-md-4">
                                <label for="">DOB</label><span class="text-danger">*<span>
                                <input type="date" class="form-control" placeholder="Ex:10/08/2001"  required>
                              </div>
                              </div>
                            </div>
                          </div>
      
                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                  <div class="col-md-4 mb-3">
                                    <label for="">Experience</label><span class="text-danger">*</span>
                                    <input type="number" class="form-control" placeholder="Ex:0,1,2" required>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" >Location</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" placeholder="Ex:Hyderabad,Vizag" required>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="" >Technology</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" placeholder="Ex:Python,Java"  required>
                                  </div>
                              </div>
                            </div>
                          </div>
    
                          <div class="row">
                            <div class="col-sm">
                              <div class="row">
                                <div class="form-group col-md-4 mb-3">
                                  <label for="" >Resume</label><span class="text-danger">*</span>
                                  <input type="file" class="form-control" required>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
<!--              <div class="modal-footer justify-content-md-center d-grid gap-2 col-6 mx-auto ">-->
<!--                <button type="submit" class="btn btn-info btn-md btn-block" data-bs-dismiss="modal">Submit</button>-->
<!--              </div>-->
             <div class="modal-footer d-flex justify-content-center">
               <button type="button" class="btn btn-primary">Submit</button>
               <button type="reset" class="btn btn-secondary">Reset</button>
             </div>
            </div>
          </div>
        </div>
<!--Add modal end here-->

<!--Export modal start here-->

<div
  class="modal fade"
  id="UploadDepartment"
  tabindex="-1"
  role="dialog"
  aria-labelledby="UploadDepartment"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Upload File</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <input type="file" id="input-file-now" class="dropify" />
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Export model end here -->


<!--Name modal end here-->

<div class="modal" tabindex="-1" id="name" role="dialog" aria-labelledby="name" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <p style="font-size:16px;">Students</p>
        <div style="margin-left:55%;">
      </div>       
         <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <div class="hk-pg-header d-flex justify-content-between mb-0">
        <h4 class="hk-pg-title m-3"></h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item"><a href="">Applied</a></li>
            <li class="breadcrumb-item">Student Report</a></li>
          </ol>
        </nav>
      </div>
      
      <div class="modal-body">
        <div class="container-fluid" style="padding-left: 15px; padding-right: 15px; font-size: 16px; font-weight:400;">
          <div class="row" >
            <div class="col-sm">
              <div class="table-wrap">
        
                <div class="mx-2 pl-3 ml-6 text-md-end pb-30" style="float:right;">
                  <input type="search" class="form-control" placeholder="search" style="width:60rem;">
                </div>
                <button type="button" class="btn btn-primary">Excel</button>
        
                <table class="table table-hover w-100 display pb-30 table-bordered">
                    <thead class="bg-danger">
                      <tr>
                        <th class="text-white">Name</th>
                        <th class="text-white">Email</th>
                        <th class="text-white">Phone</th>
                        <th class="text-white">Qualification</th>
                        <th class="text-white">Year of Passing</th>
                      </tr>
                    </thead>
                    <tbody class="bg-info">
                        <td>Gogulakonda sai charan</td>
                        <td>saicharan@gmail.com</td>
                        <td>8886981383</td>
                        <td>Others</td>
                        <td>2023</td>
                    </tbody>
                </table><hr>
        
                <table id="example" class="table table-hover w-100 display pb-30 table-bordered">
                  <thead class="bg-dark">
                    <tr>
                      <th class="text-white">Title</th>
                      <th class="text-white">Company</th>
                      <th class="text-white">Posted</th>
                      <th class="text-white">Last Date</th>
                      <th class="text-white">Profile Status</th>
                      <th class="text-white">Applied Time</th>
                      <th class="text-white">Resume</th>
                      <th class="text-white">Posted by</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Name modal start here-->

<!-- Edit modal start here -->

<div
  class="modal fade"
  id="EditCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Edit Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <label for="" class="form-label"
              >Name <span class="text-danger">*</span></label>
            <input
              type="text"
              placeholder="Ex: dhana, lakshmi"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Technology <span class="text-danger">*</span></label>
            <input
              type="text"
              placeholder="Ex:Python, Java"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Contact <span class="text-danger">*</span></label>
            <input
              type="number"
              placeholder="Ex: 9390562345"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Email <span class="text-danger">*</span></label>
            <input
              type="email"
              placeholder="Ex: dhana@gmal.com"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Gender <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control select2"
              placeholder="Ex:Female,Male"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Year of Passing <span class="text-danger">*</span></label>
            <input
              type="text"
              placeholder="Ex: 2023"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"
              >Experience <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Ex:0,1,2"
            />
          </div>
          
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal end here -->

<!-- Delete modal start here -->

<div
  class="modal fade"
  id="DeleteCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="DeleteCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Delete Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">

              <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
            </div>
            Are Your sure You want to delete Python Course ?
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete modal end here -->


{% endblock %}
