{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
   #nav1 {
        padding: 2px; 
         margin-left: 5px;
         margin-right: 15px; 
    }
     
</style>
<!-- nav bar start here -->
<!-- <div class="card bg-sky-dark-5 " id="nav1"> 
    <div class="col-12 col-sm-12 col-lg-12 " >
        <nav class="navbar bg-sky-dark-5 rounded" id="nav1">
            <div class="container-fluid">
              <a href="" class="navbar-brand text-white">Lectures</a>
              <div class="d-flex offset-md-5">
                <a href="#" class="text-white" style="text-decoration: none;">Dashboard/</a>
                <a href="{% url 'my_course1' %}" class="text-white" style="text-decoration: none;">Back</a>
              </div>
              
            </div>
          </nav>
        
    </div>
</div>   -->
<!-- nav bar ends here    -->

<div class="container-fluid">
    <div class=" row card-body">
        <div class="col-md-7 h-100 d-inline-block card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="height: 120px;" id="accordian1">
            <!-- Placeholder for YouTube Video -->
            <div id="videoPlayer" style="width: 100%; height: 300px;"></div>
        </div>
        <div class="col-md-5">
            <!-- Course Curriculum Accordion -->
            <div class="card shadow-lg  bg-body-tertiary rounded" id="accordian2">
                <div class="card-body col-lg-12">
                    <h5>Course Content</h5>
                    <div class="accordion " id="accordionPanelsStayOpenExample1">     
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed text-white bg-dark " style="font-size:22px" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="ti-arrow-circle-right"></i>&nbsp;Section-1: Core Python
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">   
                                <div class="accordion-body">
                                    <!-- <div class="col-12 col-lg-12"></div>  -->
                                        <div class="table-wrap mb-20">
                                            <div class="table-responsive">
                                                <table class="table table-light table-bordered mb-0">   
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="bg-dark text-white"><i class="ti-arrow-circle-right"></i>&nbsp;&nbsp;Core Python</th>
                                                            <th class="bg-dark text-white"><i class="ion ion-md-arrow-dropright-circle"></i> Lessons</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Your table rows -->
                                                        <tr>
                                                            <th scope="row">
                                                                <a class="video-link" href="#" data-video-src="6i3EGqOBRiU" data-video-time="0" style="text-decoration: none;">
                                                                    <i class="ion ion-md-arrow-dropright-circle"></i> 1. Introduction to Python
                                                                </a>
                                                            </th>
                                                            <td><h6 class="ps-3 text-primary">3:34</td></tr>  
                                                        </tr>
                                                        <!-- Add more rows with different video IDs and start times -->
                                                        <tr>
                                                            <th scope="row">
                                                                <a class="video-link" href="#" data-video-src="La1BdF_sunw" data-video-time="0" style="text-decoration: none;">
                                                                    <i class="ion ion-md-arrow-dropright-circle"></i> 2. Download and Install Python
                                                                </a>
                                                            </th>
                                                            <td><h6 class="ps-3 text-primary">13:58</td></tr>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="6Nu9cvINQLk" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 3.print function& string cancatination </th></a>
                                                            <td><h6 class="ps-3 text-primary">8.30</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="a43BIxiZ5EM" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 4.Variables </th></a>
                                                            <td><h6 class="ps-3 text-primary">15:10</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="Vn4RuZ4Y2M0" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 5.Variables Naming Rules </th></a>
                                                            <td><h6 class="ps-3 text-primary">8:25</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="TTepNRy0wj8" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 6.Datatypes </th></a>
                                                            <td><h6 class="ps-3 text-primary">23:54</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="kvVPeBBZdtM" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 7.Arthmetic Operators </th></a>
                                                            <td><h6 class="ps-3 text-primary">15:01</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="ELNIUknegOE" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 8.Assignment Operators </th></a>
                                                            <td><h6 class="ps-3 text-primary">14:16</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="XbjQ-heGd58" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 9.Bitwise Operators </th></a>
                                                            <td><h6 class="ps-3 text-primary">17:11</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="BG3lg589HRE" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 10.Identity Operators </th></a>
                                                            <td><h6 class="ps-3 text-primary">20:27</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="MHl0Jj15crA" data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 8.Membership Operators </th></a>
                                                            <td><h6 class="ps-3 text-primary">9:27</td>  
                                                        </tr>
                                                        <!-- Add more rows with different video start times -->
                                                        <!-- Repeat this pattern for all Core Python videos -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>              
                                    <!-- </div> -->
                              </div>   
                        </div>
                    </div>
                    <div class="accordion " id="accordionPanelsStayOpenExample2">     
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed text-white bg-dark " style="font-size:22px" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="ti-arrow-circle-right"></i>&nbsp;Section-1: Advance Python
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">   
                                <div class="accordion-body">
                                    <!-- <div class="col-12 col-lg-12 col-md-12"></div>  -->
                                        <div class="table-wrap mb-20">
                                            <div class="table-responsive">
                                                <table class="table table-light table-bordered mb-0">   
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="bg-dark text-white"><i class="ti-arrow-circle-right"></i>&nbsp;&nbsp;Advanced Python</th>
                                                            <th class="bg-dark text-white"><i class="ion ion-md-arrow-dropright-circle"></i> Lessons</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Your table rows -->
                                                        <tr>
                                                            <th scope="row">
                                                                <a class="video-link" href="#" data-video-src="Ic7ZBKqkS1E" data-video-time="0" style="text-decoration: none;">
                                                                    <i class="ion ion-md-arrow-dropright-circle"></i> 1. OOPs
                                                                </a>
                                                            </th>
                                                            <td><h6 class="ps-3 text-primary">22:24</td></tr>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <a class="video-link" href="#" data-video-src="Gvm2Sg1rZek" data-video-time="0" style="text-decoration: none;">
                                                                    <i class="ion ion-md-arrow-dropright-circle"></i> 2. Class Object
                                                                </a>
                                                            </th>
                                                            <td><h6 class="ps-3 text-primary">17:06</td></tr>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="tJNsmm7ZUmk" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 3.class Methods </th>
                                                            <td><h6 class="ps-3 text-primary">20:49</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="4SO3sScshvA" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 4.Inheritance </th>
                                                            <td><h6 class="ps-3 text-primary">27:20</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="Smlbgao6VL4" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 5.Mutiple Inheritance </th>
                                                            <td><h6 class="ps-3 text-primary">27:46</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="Fv1xFd3LzJo" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 6.Multilevel Inheritance </th>
                                                            <td><h6 class="ps-3 text-primary">21:11</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="UYxJBJQZU-I" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 7.Hierarchical Inheritance </th>
                                                            <td><h6 class="ps-3 text-primary">17:08</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="E6aDQWX-ASc" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 8.Hybrid Inheritance </th>
                                                            <td><h6 class="ps-3 text-primary">10:45</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="Sx1Hjr67xO0" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 9.File Handling </th>
                                                            <td><h6 class="ps-3 text-primary">45:32</td>  
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><a class="video-link" href="#" data-video-src="64tJdFVh1Vs" data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 10.Abstract Class & Abstract Method </th>
                                                            <td><h6 class="ps-3 text-primary">26:38</td>  
                                                        </tr>
                                                        <!-- Add more rows with different video start times -->
                                                        <!-- Repeat this pattern for all Advanced Python videos -->
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>              
                                    <!-- </div> -->
                              </div>   
                        </div>
                    </div>
                    <!-- Add additional accordion sections if needed -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Function to load YouTube video
    function loadYouTubeVideo(videoSrc, videoTime) {
        // Replace the content of the videoPlayer div with the iframe tag for the YouTube video
        $('#videoPlayer').html('<iframe width="100%" height="300px" src="https://www.youtube.com/embed/' + videoSrc + '?autoplay=1&start=' + videoTime + '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
    }

    $(document).ready(function() {
        $(".video-link").click(function(event) {
            event.preventDefault();
            var videoSrc = $(this).data("video-src");
            var videoTime = $(this).data("video-time");
            loadYouTubeVideo(videoSrc, videoTime);
        });
    });
</script>

{% endblock %}
