{% extends 'base.html'%}

{% block content %}
{% load static %}
<!-- <div class="bg-sky-light-5"> -->
    <section class="hk-sec-wrapper  bg-light  bg-body-tertiary">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-20">
                        <div class="card shadow-lg "  style="width:19rem">
                            <div class="card-img card-img-bg">
                                <div class="card-img-overlay ">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="float-start">My Assessment</h5>
                                            <div class=" card bg-primary">
                                                <i class="material-icons  bg-trans-light-90 ">assignment</i>
                                            </div>    
                                    </div>
                                    <p class="card-text">Last updated 1 mins ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card shadow-lg "  style="width:19rem">
                            <div class="card-img card-img-bg">
                                <div class="card-img-overlay">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="float-start">Other Assessment</h5>
                                            <div class=" card bg-primary">
                                                <i class="material-icons bg-trans-light-90 ">assessment</i>
                                            </div>    
                                    </div>
                                    
                                    <p class="card-text">Last updated 3 mins ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card shadow-lg"  style="width:19rem">
                            <div class="card-img card-img-bg">
                                <div class="card-img-overlay">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="float-start">Quizes</h5>
                                            <div class=" card bg-primary">
                                                <i class="material-icons bg-trans-light-90 ">assessment</i>
                                            </div>    
                                    </div>
                                    
                                    <p class="card-text">Last updated 5 mins ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar">
                        <div class="container-fluid">
                            <h5 class="navbar-brand"> MY Courses</h5>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow-lg"  style="width:19rem">
                                    <img class="img-top" src="{% static 'img/3.jpg' %}"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title"> Python For Beginners</h5>
                                        <p class="card-text"> 2 days left</p>
                                        <div class="row">
                                            <div class=" col-11">
                                                <!-- <div class="progress-wrap ">
                                                    <div class="progress mb-20 d-flex justify-content-between">
                                                        <div class="progress-bar bg-dark w-25" role="progressbar" aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100"> <span class="badge">25%</span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <a href="{% url 'my_course1' %}" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                        <a href="{% url 'Test_card' %}" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow-lg"  style="width:19rem">
                                    <img class="img-top" src="{% static 'img/2.jpg' %}"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Web Development</h5>
                                        <p class="card-text"> 5 days left</p>
                                        <div class="row">
                                            <div class=" col-11">
                                                <!-- <div class="progress-wrap ">
                                                    <div class="progress mb-20 d-flex justify-content-between">
                                                        <div class="progress-bar bg-dark w-50" role="progressbar" aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100"> <span class="badge">50%</span></div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <a href="#" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                        <a href="#" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow-lg"  style="width:19rem">
                                    <img class="img-top" src="{% static 'img/1.jpg' %}"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Database</h5>
                                        <p class="card-text"> 9 days left</p>
                                        <div class="row">
                                            <div class=" col-11">
                                                <!-- <div class="progress-wrap ">
                                                    <div class="progress mb-20 d-flex justify-content-between">
                                                        <div class="progress-bar bg-dark w-70" role="progressbar" aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100"> <span class="badge">70%</span></div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <a href="#" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                        <a href="#" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                            <nav class="navbar">
                                <div class="container-fluid">
                                    <h5 class="navbar-brand">Other Courses</h5>
                                </div>
                            </nav>
                            <div class="card-body">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="card shadow-lg"  style="width:19rem">
                                            <img class="img-top" src="{% static 'img/4.jpg' %}"
                                                alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Django</h5>
                                                <p class="card-text"> 0 days left</p>
                                                <div class="row">
                                                    <div class=" col-11">
                                                        <!-- <div class="progress-wrap ">
                                                            <div class="progress mb-20 d-flex justify-content-between">
                                                                <div class="progress-bar bg-dark w-0" role="progressbar" aria-valuenow="25"
                                                                    aria-valuemin="0" aria-valuemax="100"> <span class="badge">0%</span></div>
                
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <a href="#" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                                <a href="#" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="card shadow-lg"  style="width:19rem">
                                            <img class="img-top" src="{% static 'img/5.jpg' %}"
                                                alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">AngularJs</h5>
                                                <p class="card-text"> 0 days left</p>
                                                <div class="row">
                                                    <div class=" col-11">
                                                        <!-- <div class="progress-wrap ">
                                                            <div class="progress mb-20 d-flex justify-content-between">
                                                                <div class="progress-bar bg-dark w-0" role="progressbar" aria-valuenow="25"
                                                                    aria-valuemin="0" aria-valuemax="100"> <span class="badge">0%</span></div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                    <a href="#" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                                    <a href="#" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12" >
                                        <div class="card shadow-lg" style="width:19rem">
                                                <img class="img-top " src="{% static 'img/6.jpg' %}"
                                                    alt="Card image cap" >
                                                <div class="card-body">
                                                    <h5 class="card-title">ReactJs</h5>
                                                    <p class="card-text"> 0 days left</p>
                                                    <div class="row">
                                                        <div class=" col-11">
                                                            <!-- <div class="progress-wrap ">
                                                                <div class="progress mb-20 d-flex justify-content-between">
                                                                    <div class="progress-bar bg-dark w-0" role="progressbar" aria-valuenow="25"
                                                                        aria-valuemin="0" aria-valuemax="100"> <span class="badge">0%</span></div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    <a href="#" class="ml-0 text-primary float-start" style="text-decoration: none;">View Details </a>
                                                    <a href="#" class="ml-5"  style="text-decoration: none;">Assessment</a>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>

                                
                </div>      
            </div>
        </div>
    </section>
<!-- </div> -->

{% endblock %}
