
{% extends 'base.html' %}
{% block content %}
<style>
    .container{
        width: 100%;
        max-width:1500px;
    }
    .table-hover tbody tr:hover td {
        color: black;
    }
</style>


            <!-- Container -->
            <div class="container">

                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="fa fa-calendar"></span></span>Attendance of the Student</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

                        <!-- <section class="hk-sec-wrapper"> -->
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                            <div class="card card-sm bg-indigo-light-4">
                                                <div class="card-body">
                                                    <h6 class="card-title">Total Classes</h6>
                                                    <p class="card-text">50</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                            <div class="card card-sm bg-violet-light-4">
                                                <div class="card-body">
                                                    <h6 class="card-title">Total Present Classes</h6>
                                                    <p class="card-text">45</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                            <div class="card card-sm bg-teal-light-4">
                                                <div class="card-body">
                                                    <h6 class="card-title">Total Absent Classes</h6>
                                                    <p class="card-text">5</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                            <div class="card card-sm bg-blue-light-4">
                                                <div class="card-body">
                                                    <h6 class="card-title">Average</h6>
                                                    <p class="card-text">90%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                       <div class="table-responsive">
                                        <table id="" class="table table-hover w-100 display pb-30 table-bordered">
                                            <thead>
                                                <tr class="bg-dark">
                                                    <th class="text-center text-white">Month</th>
                                                    <th class="text-center text-white">Total Working Days</th>
                                                    <th class="text-center text-white">Present Days</th>
                                                    <th class="text-center text-white">Absent Days</th>
                                                    <th class="text-center text-white">Day 1</th>
                                                    <th class="text-center text-white">Day 2</th>
                                                    <th class="text-center text-white">Day 3</th>
                                                    <th class="text-center text-white">Day 4</th>
                                                    <th class="text-center text-white">Day 4</th>
                                                    <th class="text-center text-white">Day 5</th>
                                                    <th class="text-center text-white">Day 6</th>
                                                    <th class="text-center text-white">Day 7</th>
                                                    <th class="text-center text-white">Day 8</th>
                                                    <th class="text-center text-white">Day 9</th>
                                                    <th class="text-center text-white">Day 10</th>
                                                    <th class="text-center text-white">Day 11</th>
                                                    <th class="text-center text-white">Day 12</th>
                                                    <th class="text-center text-white">Day 13</th>
                                                    <th class="text-center text-white">Day 14</th>
                                                    <th class="text-center text-white">Day 15</th>
                                                    <th class="text-center text-white">Day 16</th>
                                                    <th class="text-center text-white">Day 17</th>
                                                    <th class="text-center text-white">Day 18</th>
                                                    <th class="text-center text-white">Day 19</th>
                                                    <th class="text-center text-white">Day 20</th>
                                                    <th class="text-center text-white">Day 21</th>
                                                    <th class="text-center text-white">Day 22</th>
                                                    <th class="text-center text-white">Day 23</th>
                                                    <th class="text-center text-white">Day 24</th>
                                                    <th class="text-center text-white">Day 25</th>
                                                    <th class="text-center text-white">Day 26</th>
                                                    <th class="text-center text-white">Day 27</th>
                                                    <th class="text-center text-white">Day 28</th>
                                                    <th class="text-center text-white">Day 29</th>
                                                    <th class="text-center text-white">Day 30</th>
                                                    <th class="text-center text-white">Day 31</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <th scope="row">Jan</th>
                                                    <td>31</td>
                                                    <td>28</td>
                                                    <td>3</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="row">Feb</th>
                                                    <td>29</td>
                                                    <td>28</td>
                                                    <td>1</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="row">March</th>
                                                    <td>31</td>
                                                    <td>29</td>
                                                    <td>2</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                </tr>
                                
                                                <tr class="text-center">
                                                    <th >April</th>
                                                    <td>31</td>
                                                    <td>29</td>
                                                    <td>2</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                </tr>
                                
                                                <tr class="text-center">
                                                    <th scope="row">May</th>
                                                    <td>31</td>
                                                    <td>29</td>
                                                    <td>2</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>A</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                    <td>P</td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>




{% endblock %}