{% extends 'base/base.html' %}
{% block title %}QTLineone | Prospects{% endblock %} 
{% block style %} {% endblock %} 
{% block breadCrum %} {% endblock %} 
{% block profile %}
<div class="row">
  <div class="col-xl-12 pa-0">
    <div class="profile-cover-wrap overlay-wrap">
      <div
        class="profile-cover-img"
        style="background-image: url('../../static/dist/img/bg2.jpg')"
      ></div>
      <div class="bg-overlay bg-trans-dark-60"></div>
      <div class="container profile-cover-content py-50">
        <div class="hk-row">
          <div class="col-lg-4">
            <div class="media align-items-center">
              <div class="media-img-wrap d-flex">
                <div class="avatar">
                  <img
                    src="../../static/dist/img/avatar1.jpg"
                    alt="user"
                    class="avatar-img rounded-circle"
                  />
                </div>
              </div>
              <div class="media-body">
                <div
                  class="text-white text-capitalize display-6 mb-5 font-weight-400"
                >
                  {{request.session.admin_user.full_name}}
                </div>
                <div class="font-14 text-white">
                  <span class="mr-5">
                    <span class="font-weight-bold pr-5">JOINING DATE:</span>
                    <span class="mr-5">12/03/24</span>
                  </span>
                  <span>
                    <span class="font-weight-bold pr-5">Department:</span>
                    <span>Python Department</span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="container mt-3 ml-md-100">
              <div class="row">
                <!-- Enquiries Card -->
                <div class="col-md-3">
                  <div
                    class="stats-card p-2 mb-3 text-white"
                    style="
                      border-radius: 8px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      background-color: rgba(23, 163, 184, 0.479);
                    "
                  >
                    <h5 class="stats-title text-white">
                      <i
                        class="fa fa-microphone text-dark"
                        aria-hidden="true"
                      ></i>
                      Enquiries
                    </h5>
                    <div class="stats-number ml-25">{{ leads_count }}</div>
                  </div>
                </div>

                <!-- Follow-ups Card -->
                <div class="col-md-3">
                  <div
                    class="stats-card p-2 mb-3 text-dark"
                    style="
                      border-radius: 8px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      background-color: rgba(107, 111, 231, 0.458);
                    "
                  >
                    <h5 class="stats-title text-white">
                      <i class="fa fa-retweet text-dark" aria-hidden="true"></i>
                      Follow-ups
                    </h5>
                    <div class="stats-number text-white ml-30">
                      {{ other_count }}
                    </div>
                  </div>
                </div>

                <!-- Admissions Card -->
                <div class="col-md-3">
                  <div
                    class="stats-card p-2 mb-3 text-white"
                    style="
                      border-radius: 8px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      background-color: rgba(235, 115, 137, 0.468);
                    "
                  >
                    <h5 class="stats-title text-white">
                      <i class="fa fa-user text-dark" aria-hidden="true"></i>
                      Admissions
                    </h5>
                    <div class="stats-number ml-30">{{ admissions_count }}</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div
                    id="latestEnquiries"
                    class="notification-card"
                    class="stats-card p-2 mb-3 text-white"
                    style="
                      border-radius: 8px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      background-color: rgba(235, 115, 137, 0.468);
                    "
                  ></div>
                </div>
                <div>
                  <!-- Dynamically filled with latest enquiries -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white shadow-bottom">
      <div class="container">
        <ul class="nav nav-light nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'lead_prospects' %}active{% endif %}"
              href="{% url 'lead_prospects' %}"
              >Prospects</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'leads' %}active{% endif %}"
              href="{% url 'leads' %}"
              >Leads</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'mql' %}active{% endif %}"
              href="{% url 'mql' %}"
              >MQL</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link active"
              href="{% url 'sql' %}"
              >SQL</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'request_discounts' %}active{% endif %}"
              href="{% url 'request_discounts' %}"
              >Request Discounts</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'opportunity' %}active{% endif %}"
              href="{% url 'opportunity' %}"
              >Opportunity</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'admission' %}active{% endif %}"
              href="{% url 'admission' %}"
              >Admissions</a
            >
          </li>
          <li class="nav-item">
            <a
              class="d-flex h-60p align-items-center nav-link {% if active_tab == 'spam' %}active{% endif %}"
              href="{% url 'spam' %}"
              >Spam List</a
            >
          </li>

          <!-- Add other tabs with similar logic -->
        </ul>
      </div>
    </div>
  </div>
  <!-- /Row -->
</div>

{% endblock %} 
{% block content %} 
{% if messages %} 
{% for message in messages %} 
{% if message.tags == "error" %}
<div
  class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center"
  role="alert"
>
  {{ message }}
</div>
{% elif message.tags == "success" %}
<div
  class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center"
  role="alert"
>
  {{ message }}
</div>
{% else %}
<div
  class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center"
  role="alert"
>
  {{ message }}
</div>
{% endif %} 
{% endfor %} 
{% endif %}

<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col"></div>

    <div
      class="button_operations col-auto ml-auto p-0 mb-3"
      id="button_operations"
    ></div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table
          id="datable_1"
          class="table table-hover w-100 display pb-30 table-bordered"
        >
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">
                <p class="mr-5">
                  All<input
                    type="checkbox"
                    class="form-check-input"
                    style="margin-left: 3px; margin-right: 20px"
                    id="checkAll"
                  />
                </p>
              </th>
              <th class="text-white">Token ID</th>
              <th class="text-white">Student Name</th>
              <th class="text-white">Mobile No</th>
              <th class="text-white">Email</th>
              <th class="text-white">Course</th>
              <th class="text-white">Attended Demo On</th>
              <th class="text-white">Lead Type</th>
            </tr>
          </thead>
          <tbody>
            {% for i in leads %}
            <tr>
              <td>
                <input
                  type="checkbox"
                  class="row-checkbox"
                  data-id="{{ i.id }}"
                />
              </td>
              <td>{{i.token_id}}</td>
              <td>{{i.first_name}} {{i.last_name}}</td>
              <td>{{i.mobile_number}}</td>
              <td>{{i.email}}</td>
              <td>{{i.course_name.course_name}}</td>
              <td>{{i.demo.datestartat}} {{i.demo.dateendat}}</td>
              <td>{{i.lead_type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- request model start here -->
{% for i in leads %}
<div
  class="modal fade"
  id="requestdiscount{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="requestdiscount{{i.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Request For Discount</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'request_discount' i.id %}"
          class="request_discount"
          method="post"
        >
          {% csrf_token %}
          <div class="mb-3">
            <label for="leadType" class="form-label"
              >Lead Type <span class="text-danger">*</span></label
            >
            <select
              id="leadType"
              class="form-select form-control"
              name="leadType"
            >
              <option selected disabled>Select Lead Type</option>
              <option>warm</option>
              <option>cold</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="plan" class="form-label"
              >Plan <span class="text-danger">*</span></label
            >
            <select id="plan" name="plan" class="form-select form-control">
              <option selected disabled>Select the Plan</option>
              <option>JOIP</option>
              <option>Internship</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="courseFee" class="form-label"
              >Course Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control bg-light text-secondary"
              id="courseFee"
              value=""
              name="courseFee"
            />
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label"
              >Discount Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              id="discount"
              value=""
              placeholder="Discount Fee (%)"
              name="discountFee"
            />
          </div>
          <div class="mb-3">
            <label for="finalFee" class="form-label"
              >Final Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control text-secondary"
              id="finalFee"
              placeholder="Final Fee"
              readonly
              name="finalFee"
            />
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Create model end here -->
<!-- Edit model start here -->

<div
  class="modal fade"
  id="EditCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Edit Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <label for="" class="form-label"
              >Course Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              placeholder="Ex: Python, Java"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit model end here -->

<!-- spam model start here -->
{% for i in leads %}

<div
  class="modal fade"
  id="spam{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="spam{{i.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Mark As Spam</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'mark_as_spam' i.id %}" method="post">
          {% csrf_token %}
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">
              <img
                src="../../static/triangle-exclamation-solid.svg"
                width="120"
                height="70"
                alt=""
              />
            </div>

            Are you sure want to mark this data as spam?
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">Yes</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              aria-label="Close"
            >
              No
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<!-- Delete model end here -->

<!-- Upload model  -->

<div
  class="modal fade"
  id="UploadCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="UploadCourse"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Upload File</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-whte">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <input type="file" id="input-file-now" class="dropify" />
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

{% for i in leads %}
<div
  class="modal fade"
  id="sumbitmodal{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sumbitmodal{{i.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Opportunity Lead</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form
          action="{% url 'move_to_opportunity' i.id %}"
          method="post"
          class="row g-3 opportuntyForm"
        >
          {% csrf_token %}

          <div class="col-md-6 mb-3">
            <label for="Tokenid" class="form-label"
              >Token Id <span>*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="Tokenid"
              value="{{i.token_id}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="studentname" class="form-label"
              >Student Name<span>*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="studentname"
              value="{{i.first_name}} {{i.last_name}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="mblno" class="form-label"
              >Mobile No<span>*</span></label
            >
            <input
              type="tel"
              class="form-control bg-light text-secondary"
              id="mblno"
              value="{{i.mobile_number}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email<span>*</span></label>
            <input
              type="email"
              class="form-control bg-light text-secondary"
              id="email"
              value="{{i.email}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="courseinput" class="form-label"
              >Course <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="courseinput"
              value="{{i.course_name.course_name}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="courseFaculty" class="form-label"
              >Course Faculty <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="courseFaculty"
              value="{{i.faculty.first_name}} {{i.faculty.last_name}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="plan" class="form-label"
              >Plan <span class="text-danger">*</span></label
            >
            <select id="plan" class="form-select form-control" name="plan">
              <option selected disabled>Select the Plan</option>
              {% for plan in plans %}
              <option value="{{plan.id}}">{{plan.plan_name}}</option>
              {% endfor %}

            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="demodate" class="form-label"
              >Attended Demo On <span class="text-danger">*</span></label
            >

            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="demodate"
              value="{{i.demo.datestartat |default:'Not Attend'}}"
              disabled
            />
          </div>
          <!--  -->
          <div class="col-md-4 mb-3">
            <label for="courseFee" class="form-label"
              >Course Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control bg-light text-secondary"
              id="courseFee"
              value=""
              name="courseFee"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="discount" class="form-label"
              >Discount Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              id="discount"
              value=""
              placeholder="Discount Fee (%)"
              name="discountFee"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="finalFee" class="form-label"
              >Final Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control text-secondary"
              id="finalFee"
              placeholder="Final Fee"
              readonly
              name="finalFee"
            />
          </div>

          <!--  -->

          <div class="col-md-4 mb-3">
            <label for="trainingType" class="form-label"
              >Training Type<span>*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="trainingType"
              value="{{i.training_type.TrainingTypeName}}"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="branch" class="form-label">Branch<span>*</span></label>
            <input
              type="email"
              class="form-control bg-light text-secondary"
              id="branch"
              value="{{i.branch_name}}"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="Leadsource" class="form-label"
              >Lead Source<span>*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="Leadsource"
              value="{{i.lead_sourse.prospect_type}}"
              disabled
            />
          </div>

          <div class="col-md-12 mb-3">
            <label for="leadType" class="form-label"
              >Lead Type<span class="text-danger">*</span></label
            >
            <select
              id="leadType"
              class="form-select form-control"
              name="leadType"
            >
              <option selected disabled>Select Lead Type</option>
              <option value="WARM" {% if i.lead_type == "WARM" %} selected {% endif %}>warm</option>
              <option value="COLD" {% if i.lead_type == "COLD" %} selected {% endif %}>cold</option>
            </select>
          </div>

          <div class="col-md-12 mb-3">
            <label for="Leaddescription" class="form-label"
              >Lead Description<span class="text-danger">*</span></label
            >

            <textarea
              name="Leaddescription"
              class="form-control bg-light text-secondary"
              id="Leaddescription"
              cols="30"
              rows="3"
              placeholder="Enter Your Feedback here"
              disabled
            >
{{i.lead_description}}</textarea
            >
          </div>
          <div class="col-md-12 mb-3">
            <label for="Leaddescription" class="form-label"
              >MQL Description<span class="text-danger">*</span></label
            >

            <textarea
              name="Leaddescription"
              class="form-control bg-light text-secondary"
              id="Leaddescription"
              cols="30"
              rows="3"
              placeholder="Enter Your Feedback here"
              disabled
            >
{{i.mql_description}}</textarea
            >
          </div>
          <div class="col-md-12 mb-3">
            <label for="sqldescription" class="form-label"
              >SQL Description<span class="text-danger">*</span></label
            >

            <textarea
              name="sqldescription"
              class="form-control text-secondary"
              id="sqldescription"
              name="sqldescription"
              cols="30"
              rows="3"
              placeholder="Enter Your Feedback here"
            ></textarea>
          </div>

          <div
            class="modal-footer d-flex justify-content-center col-md-12 mb-3"
          >
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Modal -->
<!-- admission modal -->
<!-- Modal -->
{% for i in leads %}
<div
  class="modal fade"
  id="sumbit_admissoinmodal{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sumbit_admissoinmodal{{i.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Admission Form</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form
          action="{% url 'submit_admission' i.id %}"
          class="row g-3 admissionValid"
          method="post"
        >
          {% csrf_token %}

          <div class="col-md-6 mb-3">
            <label for="Tokenid" class="form-label"
              >Token Id <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="Tokenid"
              value="{{i.token_id}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="studentname" class="form-label"
              >Student Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="studentname"
              value="{{i.firstname}} {{i.lastname}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="mblno" class="form-label"
              >Mobile No <span class="text-danger">*</span></label
            >
            <input
              type="tel"
              class="form-control bg-light text-secondary"
              id="mblno"
              value="{{i.phone}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label"
              >Email <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control bg-light text-secondary"
              id="email"
              value="{{i.email}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="courseinput" class="form-label"
              >Course <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="courseinput"
              value="{{i.course_interested_in}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="courseFaculty" class="form-label"
              >Course Faculty <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="courseFaculty"
              value="{{i.course_faculty}}"
              disabled
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="plan" class="form-label"
              >Plan <span class="text-danger">*</span></label
            >
            <select id="plan" class="form-select form-control" name="plan">
              <option selected disabled>Select the Plan</option>
              <option>JOIP</option>
              <option>Internship</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="demodate" class="form-label"
              >Attended Demo On <span class="text-danger">*</span></label
            >

            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="demodate"
              value="{{i.demo_date |default:'Not Attend'}}"
              disabled
            />
          </div>
          <!--  -->
          <div class="col-md-4 mb-3">
            <label for="courseFee" class="form-label"
              >Course Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control bg-light text-secondary"
              id="courseFee"
              value=""
              name="courseFee"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="discount" class="form-label"
              >Discount Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              id="discount"
              value=""
              placeholder="Discount Fee (%)"
              name="discountFee"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="finalFee" class="form-label"
              >Final Fee <span class="text-danger">*</span></label
            >
            <input
              type="number"
              step="0.01"
              class="form-control text-secondary"
              id="finalFee"
              placeholder="Final Fee"
              readonly
              name="finalFee"
            />
          </div>

          <!--  -->

          <div class="col-md-4 mb-3">
            <label for="trainingType" class="form-label"
              >Training Type <span>*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="trainingType"
              value="{{i.Training_type}}"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="branch" class="form-label"
              >Branch <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control bg-light text-secondary"
              id="branch"
              value="{{i.branch_name}}"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="Leadsource" class="form-label"
              >Lead Source <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control bg-light text-secondary"
              id="Leadsource"
              value="{{i.lead_source}}"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="batchno" class="form-label"
              >Batch Number <span class="text-danger">*</span></label
            >
            <select
              id="batchno"
              class="form-select form-control"
              name="batchno"
            >
              <option selected disabled>Select the Batch Number</option>
              <option>25</option>
              <option>24</option>
              <option>23</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="admissionFee" class="form-label"
              >Admission Fee <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control text-secondary"
              id="admissionFee"
              name="admissionFee"
              placeholder="0.00"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="remainingfee" class="form-label"
              >Remainingfee Fee <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control text-secondary"
              id="remainingfee"
              name="remainingfee"
              placeholder="0.00"
              readonly
            />
          </div>
          <!-- payment details -->
          <div class="col-md-6 mb-3">
            <label for="paymenttype" class="form-label"
              >Mode of Payment <span class="text-danger">*</span></label
            >
            <select
              id="paymenttype{{i.id}}"
              class="form-select form-control"
              name="paymenttype"
              onchange="showPaymentFields('{{i.id}}')"
            >
              <option selected disabled>Select Mode of Payment</option>
              <option value="UPI">UPI</option>
              <option value="Paytm">Paytm</option>
              <option value="Cash">Cash</option>
              <option value="BankTransfer">Bank Transfer</option>
            </select>
          </div>

          <!-- UPI Details -->
          <div
            class="col-md-6 mb-3 payment-details{{i.id}}"
            id="UPI{{i.id}}"
            style="display: none"
          >
            <label for="upiId" class="form-label"
              >UPI ID <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control text-secondary"
              id="upiId"
              name="upiId"
              placeholder="UPI ID"
            />
            <div>
              <label for="upiTransactionId" class="form-label"
                >Transaction Id <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control text-secondary"
                id="upiTransactionId"
                name="upiTransactionId"
                placeholder="TransactionId"
              />
            </div>
          </div>

          <!-- Paytm Details -->
          <div
            class="col-md-6 mb-3 payment-details{{i.id}}"
            id="Paytm{{i.id}}"
            style="display: none"
          >
            <label for="paytmNumber" class="form-label"
              >Paytm Number <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control text-secondary"
              id="paytmNumber"
              name="paytmNumber"
              placeholder="Paytm Number"
            />
            <div>
              <label for="paytmTransactionId" class="form-label"
                >Transaction Id <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control text-secondary"
                id="paytmTransactionId"
                name="paytmTransactionId"
                placeholder="TransactionId"
              />
            </div>
          </div>

          <!-- Bank Transfer Details -->
          <div
            class="col-md-6 mb-3 payment-details{{i.id}}"
            id="BankTransfer{{i.id}}"
            style="display: none"
          >
            <div>
              <label for="bankAccount" class="form-label"
                >Bank Account Number <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control text-secondary"
                id="bankAccount"
                name="bankAccount"
                placeholder="Bank Account Number"
              />
            </div>
            <div>
              <label for="bankTransactionId" class="form-label"
                >Transaction Id <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control text-secondary"
                id="bankTransactionId"
                name="bankTransactionId"
                placeholder="TransactionId"
              />
            </div>
          </div>

          <div
            class="modal-footer d-flex justify-content-center col-md-12 mb-3"
          >
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Modal -->

{% endblock %} {% block scripts %}

<script>
  $(document).ready(function () {
    setTimeout(function () {
      $(".alert").fadeOut("slow", function () {
        // This function is called after the fadeOut completes
        $(this).remove(); // Removes the element from the DOM
      });
    }, 5000);
    // Function to update button operations
    function updateButtonOperations() {
      var selectedCount = $(".row-checkbox:checked").length;
      var buttonsHtml = "";

      if (selectedCount >= 1) {
        var prospectId = $(".row-checkbox:checked").data("id");
        // When at least one checkbox is selected
        buttonsHtml = `
             <button class="btn btn-info mr-2 view-request" data-target="#requestdiscount${prospectId}""><i class="fa fa-percent"></i> Request Discount </button>
              <button class="btn btn-dark mr-2 view-details" data-target="#sumbitmodal${prospectId}"><i class="fa fa-send-o"></i> Send To Opportunity</button>
              <button class="btn btn-primary mr-2 view-admission" data-target="#sumbit_admissoinmodal${prospectId}"><i class="fa fa-user"></i> Admission</button>
              <button class="btn btn-danger mr-2 view-spam" data-target="#spam${prospectId}"><i class="fa fa-info-circle"></i> Spam</button>
              
          `;
        if (selectedCount > 1) {
          // When multiple checkboxes are selected, adjust the buttons accordingly
          buttonsHtml = `
              <button class="btn btn-dark mr-2"><i class="fa fa-envelope"></i> Email</button>
              <button class="btn btn-success mr-2"><i class="fa fa-phone"></i> WhatsApp</button>
              <button class="btn btn-info mr-2"><i class="fa fa-comments"></i> SMS</button>
              <button class="btn btn-danger mr-2"><i class="fa fa-trash-o"></i> Delete</button>
              `;
        }
      }

      $("#button_operations").html(buttonsHtml);
    }

    // Use event delegation for dynamically added "Edit" and "Delete" buttons
    $("#button_operations").on("click", "#openEditModal", function () {
      $("#Democourse").modal("show");
    });

    $("#button_operations").on("click", "#openDeleteModal", function () {
      $("#DeleteCourse").modal("show");
    });

    $("#button_operations").on("click", ".view-details", function () {
      var targetModal = $(this).data("target");
      $(targetModal).modal("show");
    });
    $("#button_operations").on("click", ".view-admission", function () {
      var targetModal = $(this).data("target");
      $(targetModal).modal("show");
    });
    $("#button_operations").on("click", ".view-request", function () {
      var targetModal = $(this).data("target");
      $(targetModal).modal("show");
    });

    // Attach change event listener to checkboxes for row selection
    $(document).on("change", ".row-checkbox", function () {
      // Check if all checkboxes are selected
      var allChecked =
        $(".row-checkbox").length === $(".row-checkbox:checked").length;
      $("#checkAll").prop("checked", allChecked);
      updateButtonOperations();
    });

    // "Check All" functionality
    $("#checkAll").change(function () {
      $(".row-checkbox").prop("checked", this.checked);
      updateButtonOperations();
    });
  });
  // discount fee
  // discount fee
  function updateFinalFee(modal) {
    var courseFee = parseFloat(modal.find("#courseFee").val()) || 0;
    var discountInput = modal.find("#discount").val();
    var discount = parseFloat(discountInput) || 0;

    if (discountInput === "") {
      // If the discount field is empty, clear the final fee field
      modal.find("#finalFee").val("");
    } else if (discount >= 1 && discount <= 100) {
      // If the discount is within the valid range, calculate the discounted final fee
      var discountAmount = (courseFee * discount) / 100;
      var finalFee = courseFee - discountAmount;
      modal.find("#finalFee").val(finalFee.toFixed(2));
    } else {
      // If the discount is not within the valid range, you could choose to not update the final fee
      // or set it back to the original course fee. Uncomment the line below as needed.
      // modal.find('#finalFee').val(courseFee.toFixed(2));
    }
  }

  // Event listener for changes in the discount input field within any modal
  $(".modal").on("input", "#discount", function () {
    // Find the closest modal to the discount input field that triggered the event
    var modal = $(this).closest(".modal");
    updateFinalFee(modal);
  });

  // admission Fee
  // Updates the remaining fee, ensuring the admission fee is within a valid range
  // Updates the remaining fee, ensuring the admission fee is within a valid range
  function updateRemainingFee(modal) {
    var finalFee = parseFloat(modal.find("#finalFee").val()) || 0;
    var admissionFeeInput = modal.find("#admissionFee").val();
    var admissionFee = parseFloat(admissionFeeInput) || 0;

    if (admissionFeeInput === "") {
      // If the admission fee field is empty, clear the remaining fee field
      modal.find("#remainingfee").val("");
    } else if (admissionFee >= 1000 && admissionFee <= finalFee) {
      // If the admission fee is within the valid range, calculate the remaining fee
      var remainingFee = finalFee - admissionFee;
      modal.find("#remainingfee").val(remainingFee.toFixed(2));
    } else {
      // Optionally, reset or mark the remaining fee as invalid if conditions are not met
      // modal.find('#remainingfee').val("Invalid");
    }
  }

  // Listen for changes in the Admission Fee input field within the current modal
  $(".modal").on("input", "#admissionFee", function () {
    var modal = $(this).closest(".modal");
    updateRemainingFee(modal);
  });

  // for payment related functionality
  function showPaymentFields(uniqueId) {
    // Hide all payment detail fields initially
    document
      .querySelectorAll(".payment-details" + uniqueId)
      .forEach(function (element) {
        element.style.display = "none";
      });

    // Get selected payment type using the uniqueId
    var paymentType = document.getElementById("paymenttype" + uniqueId).value;

    // Show the fields related to the selected payment type
    if (paymentType !== "Select Mode of Payment") {
      var selectedPaymentDiv = document.getElementById(paymentType + uniqueId);
      if (selectedPaymentDiv) {
        selectedPaymentDiv.style.display = "block";
      }
    }
  }
</script>

<!-- admission form validation -->
<script>
  $(document).ready(function () {
    // Validate each form identified by the 'admissionValid' class
    $(".admissionValid").each(function () {
      $(this).validate({
        // Ignore disabled fields
        ignore: ":disabled",
        rules: {
          // Assuming 'name' attributes are correctly set. Adjust as necessary.
          plan: "required",
          discountFee: {
            required: true,
            range: [1, 100],
          },
          //   admissionFee: {
          //     required: true,
          //     number: true,
          //     min: 1000,
          //     // Dynamically set the max based on the finalFee's value at the time of validation
          //     max: function() {
          //         var finalFeeVal = parseFloat($('#finalFee').val());
          //         if (!isNaN(finalFeeVal)) {
          //             return finalFeeVal;
          //         }
          //         // If finalFee is NaN, use this to force a validation error
          //         return -1;
          //     }
          // },
          batchno: "required",
          paymenttype: "required",
          //   upiId: {
          //     required: function(element) {
          //         return true
          //     }
          // },
          // paytmNumber: {
          //     required: function(element) {
          //         return true
          //     }
          // },
          // bankAccount: {
          //     required: function(element) {
          //         return true
          //     }
          // },
          // bankTransactionId:"required",
          // paytmTransactionId:"required",
          // upiTransactionId:"required",
          //   // Add additional fields and rules here as needed
        },
        messages: {
          plan: "Please select a plan",
          discountFee: {
            required: "Please enter a discount fee",
            range: "Discount fee must be between 1% and 100%",
          },
          //   admissionFee: {
          //     required: "Admission fee is required",
          //     number: "Please enter a valid number for the admission fee",
          //     min: "Admission fee must be at least 1000",
          //     max: function() {
          //         var finalFeeVal = $('#finalFee').val();
          //         if (!finalFeeVal || isNaN(parseFloat(finalFeeVal))) {
          //             return "Please enter a valid discount before setting the admission fee.";
          //         }
          //         return "Admission fee cannot exceed the final fee";
          //     }
          // },
          batchno: "Please select a batch number",
          paymenttype: "Please select a mode of payment",
          //   upiId: "UPI ID is required",
          // paytmNumber: "Paytm number is required",
          // bankAccount: "Bank account number is required",
          // TransactionId: "Transaction ID is required",
          // bankTransactionId:"Transaction ID is required",
          // paytmTransactionId:"Transaction ID is required",
          // upiTransactionId:"Transaction ID is required",
        },
        submitHandler: function (form) {
          form.submit();
        },
      });
    });

    // Function to show/hide payment details based on the selected payment type
    window.showPaymentFields = function (uniqueId) {
      $(".payment-details" + uniqueId).hide(); // Hide all payment detail fields initially
      var paymentType = $("#paymenttype" + uniqueId).val(); // Get selected payment type
      if (paymentType) {
        $("#" + paymentType + uniqueId).show(); // Show the fields related to the selected payment type
      }
    };
  });
</script>

<!-- fileds validations -->
<script>
  $(document).ready(function () {
    $(".opportuntyForm").each(function () {
      $(this).validate({
        ignore: [], // This line tells the validator not to ignore any fields
        rules: {
          leadType: {
            required: true,
          },

          sqldescription: {
            required: true,
          },
          discountFee: {
            required: true,
            range: [1, 20],
          },
          plan: "required",
          courseFee: "required",
          finalFee: "required",
          // Add other field rules here as necessary
        },
        messages: {
          leadType: {
            required: "Please select the Lead Type.",
          },

          sqldescription: "Please provide a description",
          discountFee: {
            required: "Please enter a discount fee",
            range: "Discount fee must be between 1% and 100%",
          },
          plan: "Please select the plan",
          courseFee: "Please provide Couse Fee",
          finalFee: "Please provide the Final Fee",
          // Add other field messages here as necessary
        },
        submitHandler: function (form) {
          console.log("Form is valid and being submitted", form);
          form.submit();
        },
      });
    });
  });

  $(document).ready(function () {
    $(".request_discount").each(function () {
      $(this).validate({
        rules: {
          leadType: "required",
          // Add other validation rules as needed
        },
        messages: {
          leadType: "Please select a lead type",
          // Add other validation messages as needed
        },
      });
    });
  });
</script>

{% endblock %}
