{% extends 'base/base.html' %}

{% block title %}MOCKS | Interviews Lists{% endblock %}

{% block breadCrum %}

<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Today Interviews</h4>
  <nav aria-label="breadcrumb">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'mock_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Admin Interviews</li>
    </ol>
    </nav>
  </nav>
</div>
<!-- /Breadcrumb -->

{% endblock %}
{% block content %}



<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="datable_1" class="table table-hover w-100  pb-30 table-bordered" >
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">Aadil</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>

            <tr>
              <td class="text-center">2</td>
              <td class="text-center">Aadil</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success" data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Tomorrow Interviews</h4>
</div>

<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="example_1" class="table table-hover w-100  pb-30 table-bordered" >
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">Aadil</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>

            <tr>
              <td class="text-center">2</td>
              <td class="text-center">Aadil</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success" data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Upcoming Interviews</h4>
</div>

<section class="hk-sec-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table id="example_2" class="table table-hover w-100  pb-30 table-bordered" >
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center">S.No</th>
              <th class="text-white text-center">Student</th>
              <th class="text-white text-center">Roll Number</th>
              <th class="text-white text-center">Batch Number</th>
              <th class="text-white text-center">Mobile No</th>
              <th class="text-white text-center">Student Email id</th>
              <th class="text-white text-center">Course</th>
              <th class="text-white text-center">Date Of Interview</th>
              <th class="text-white text-center">Resume</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">Aadil</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success   " data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button>
              </td>
            </tr>

            <tr>
              <td class="text-center">2</td>
              <td class="text-center">Vijaya</td>
              <td class="text-center">33</td>
              <td class="text-center">23</td>
              <td class="text-center">9654725478</td>
              <td class="text-center">aadil33@gmail.com</td>
              <td class="text-center">Python</td>
              <td class="text-center">Mar.04,2024,10:30 am</td>
              <td class="text-center"><a href="" title="Image from freeiconspng.com"><img
                    src="https://www.freeiconspng.com/uploads/pdf-icon-png-pdf-zum-download-2.png" width="35"
                    alt="Student resume" /></a></td>
              <td class="text-center"><button class="btn btn-icon btn-success" data-toggle="modal"
                  data-target="#FeedbackForm">
                  <span class="btn-icon-wrap"><i class="fa fa-rocket"></i></span>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="FeedbackForm" tabindex="-1" role="dialog" aria-labelledby="FeedbackForm" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Feedback Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form action="" method="post" id="createFeed">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Full Name </label>
                  <input  value="Aadil" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Roll Number </label>
                  <input  value="23" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Batch Number </label>
                  <input  value="20" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Email Id </label>
                  <input  value="aadil33@gmail.com" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Mobile Number </label>
                  <input  value="9647521854" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Date of Interview </label>
                  <input  value="Mar.04,2024,10:30 am" name="batchtype_name" class="form-control" readonly>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Attendance <span class="text-danger">*</span></label>

                  <select class="form-control select2" name="Attendance">
                    <option value="" disabled selected>Please Select</option>
                    <option value="1">Present</option>
                    <option value="2">Absent</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Communication Skills <span class="text-danger">*</span></label>
                  <select class="form-control select2" name="Communication">
                    <option value="" disabled selected>Please Select</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Body Language <span class="text-danger">*</span></label>

                  <select  class="form-control select2" name="Body Language">
                    <option value="" disabled selected>Please Select</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Technical Skills <span class="text-danger">*</span></label>

                  <select  class="form-control select2" name="Technical Performance">
                    <option value="" disabled selected>Please Select</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="" class="form-label">Logical Thinking<span class="text-danger">*</span></label>

                  <select  class="form-control select2" name="Logical Thinking">
                    <option value="" disabled selected>Please Select</option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                  </select>
                </div>
              </div>


              <div class="col-md-6 col-sm-12 col-lg-6 ">
                <div class="form-group">
                  <label for="" class="form-label">Send Attachment </label>
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="form-control text-truncate" data-trigger="fileinput"><i
                        class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                      <span class=" btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span
                          class="fileinput-exists">Change</span>
                        <input type="file" name="...">
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="">Suggestions </label>
                  <textarea class="form-control" id="" name="Suggestions"
                    placeholder="What Would you like to say?" rows="3"></textarea>
                </div>
              </div>
            </div>


            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- create model ends here -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<script>
  $(document).ready(function () {
    // Initialize DataTables for each table
    $(' #example_1').DataTable({
      "paging": true,
      "searching": true,
      "responsive": true,
      "lengthChange": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      // Customize search box appearance
      "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>tip',
      // Customize search field placeholder and remove search label
      "language": {
        "search": "",
        "searchPlaceholder": "Search"
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Initialize DataTables for each table
    $(' #example_2').DataTable({
      "paging": true,
      "searching": true,
      "responsive": true,
      "lengthChange": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      // Customize search box appearance
      "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>tip',
      // Customize search field placeholder and remove search label
      "language": {
        "search": "",
        "searchPlaceholder": "Search"
      }
    });
  });
</script>
{% endblock %}

{% block scripts %}


<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('Suggestions')

</script>

<script>
  $(document).ready(function () {
    //validationf for special charector
    $.validator.addMethod("noSpecialChars", function (value, element) {
      return /^[a-zA-Z0-9\s]*$/.test(value);
    }, "Special characters are not allowed.");
    //no numbers
    $.validator.addMethod("noNumbers", function (value, element) {
      return !/\d/.test(value);
    }, "Numbers are not allowed in the course name.");

    $.validator.addMethod("selectRequired", function (value, element) {
      return value !== "" && value !== null && value !== "0";
    },
      "Please select an option."
    );
    // Resume upload Validation
    $.validator.setDefaults({
      errorPlacement: function(error,element){
        if (element.attr('name') === 'resume'){
          error.appendTo("#resume_upload");
        }
        else{ error.insertAfter(element);}
      }
    })


    $("#createFeed").validate({
      rules: {
        Attendance : {

          required: true,
        },
        Communication: {
          selectRequired: true,
        },
        'Body Language': {
          selectRequired: true,
        },
        'Technical Performance': {
          selectRequired: true,
        },
        'Logical Thinking': {
          selectRequired: true,
        },

        resume:{
          required:true,
          accept:'pdf',
        }


      },
      messages: {
        Attendance : {
          required: "Please Select an option",
        },
        Communication: {
          selectRequired: "Please Select an option",
        },
        'Body Language': {
          selectRequired:" Please Select an option"
        },
        'Technical Performance':{
          selectRequired:'Please Select an option'
        },
        'Logical Thinking': {
          selectRequired: "Please Select an option",
        },
        Suggestions: {
          selectRequired: "Text here",
        },
        resume:{
          required:" please upload your Resume",
          accept:"only PDF are allowed"
        }

      },

      submitHandler: function (form) {
        form.submit();
      },

    });
  });

  $.validator.addMethod("pdfOnly", function (value, element) {
      // Check if the file extension is pdf
      return this.optional(element) || /\.(pdf)$/i.test(value);
    }, "Please select a PDF file.");
</script>

{% endblock %}