{% extends 'base/base.html' %}
{% block title %}QTLineone | Forum Category{% endblock %} 
{% block breadCrum %}
<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Forum Categories
  </h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'settings' %}">Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Forum Categories</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %} 

{% block content %}
 <!-- message here -->

 {% if messages %}
 {% for message in messages %}
   {% if message.tags == "error" %}
     <div class="h-25 alert alert-danger alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
   {% elif message.tags == "success" %}
     <div class="h-25 alert alert-success alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
     {% else %}
    <div class="h-25 alert alert-info alert-dismissible fade show mt-2 h-25 text-center" role="alert">{{ message }}</div>
    {% endif %}
   {% endfor %}
 {% endif %}

<!-- message end here -->

<section class="hk-sec-wrapper">
  <div class="d-flex justify-content-between">

    <div class="">
      <button
        type="button"
        class="btn btn-primary mr-2 mb-3"
        data-toggle="modal"
        data-target="#CreateForum"
      >
      <i class="glyphicon glyphicon-plus"></i>  Create Forum
      </button>
      <a href="{% url 'Forum_export' %}" class="btn btn-success mr-2 mb-3">
        <i class="glyphicon glyphicon-export"></i> Export
      </a>
      <button
        type="button"
        class="btn btn-secondary mr-2 mb-3"
        data-toggle="modal"
        data-target="#UploadForum"
      >
      <i class="glyphicon glyphicon-import"></i>  Import
      </button>
    </div>
    
    <div>
      <button type="button" class="btn btn-danger mr-2 mb-3" id="deleteButton" data-toggle="modal"
      data-target="#deleteModal" style="display: none; position: relative; top: 0px; ">
      <i class="glyphicon glyphicon-trash"></i> Delete
  </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="table-wrap">
        <table
          id="datable_1"
          class="table table-hover w-100 display pb-30 table-bordered"
        >
          <thead class="bg-dark">
            <tr>
              <th class="text-white text-center"><input type="checkbox" id="selectAll"> All</th>

              <th class="text-white">S.No</th>
              <th class="text-white">Forum Category</th>
              <th class="text-white text-center">Status</th>
              <th class="text-white text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr>
              <td class="text-center"><input type="checkbox" class="row-checkbox" data-course-id="{{i.id}}"
                data-course-name="{{i.forum_category}}"></td>
              <td>{{forloop.counter}}</td>
              <td>{{i.forum_category}}</td>
              {% if i.status == 'Active' %}
              <td class="text-center"><a class=" badge badge-success badge-pill p-2" href="{% url 'Forum_status' i.id %}">Active</a></td>
              {% else %}
              <td class="text-center"><a class="badge badge-danger badge-pill p-2" href="{% url 'Forum_status' i.id %}">Deactive</a></td>
              {% endif %}
              <td class="text-center">
                <button
                  class="btn btn-primary m-1"
                  data-toggle="modal"
                  data-target="#EditForum{{i.id}}"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  class="btn btn-danger m-1"
                  data-toggle="modal"
                  data-target="#DeleteForum{{ i.id }}"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>

            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- create model start here -->

<div
  class="modal fade"
  id="CreateForum"
  tabindex="-1"
  role="dialog"
  aria-labelledby="CreateForum"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Create New Forum Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'forum_category' %}" method="post" id="CreateforumValid">
          {% csrf_token %}
            
          <div class="mb-3">
            <label for="" class="form-label"
              >Forum Category Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              placeholder="Ex:General Discussion,Technical Support "
              class="form-control"
              name="forum_category"
            />
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Submit</button>
            <button type="reset" class="btn btn-secondary m-1">Reset</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Create model end here -->
<!-- Edit model start here -->
{% for i in data %}
<div
  class="modal fade"
  id="EditForum{{i.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditForum"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Edit Forum Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'Forum_update' i.id %}" method="post" id="forumeditValid" class="forumeditValid">
          {% csrf_token %}
          <div class="mb-3">
            <label for="" class="form-label"
              >Forum Category Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              placeholder="Ex: General Discussion,Technical Support"
              class="form-control"
              name="forum_edit"
              value="{{i.forum_category}}"
            />
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Submit</button>
            <button
              type="button"
              class="btn btn-secondary m-1"
              data-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endfor %}

<!-- Edit model end here -->

<!-- Delete model start here -->


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header bg-danger">
              <h5 class="modal-title text-white " id="deleteModalLabel">Delete Regulation</h5>
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="mb-3 text-center">
                  <div class="d-flex justify-content-center mb-3">
                      <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
                  </div>
                  <form action="{% url 'Forum_all'  %}" method="post">
                      {% csrf_token %}
                      <p id="deleteMessage">Are you sure you want to delete <strong><span id="selectedCount"></span></strong> records?</p>
                      <input type="hidden" id="selected_ids_input" name="selected_ids">
              </div>
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-danger m-1" id="confirmDelete">Yes</button>
                  <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">No</button>
              </div>
              </form>
          </div>

      </div>
  </div>
</div>

{% for i in data %}

<div
  class="modal fade"
  id="DeleteForum{{ i.id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="DeleteForum"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Delete Forum Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'Forum_delete' i.id %}" method="post"  >
          {% csrf_token %}
          <div class="mb-3 text-center">
            <div class="d-flex justify-content-center mb-3">

              <img src="../../static/triangle-exclamation-solid.svg" width="120" height="70" alt="">
            </div>
            Are you sure you want to delete {{i.forum_category}} ?
          </div>
        
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-danger m-1">Yes</button>
        <button
          type="button"
          class="btn btn-secondary m-1"
          data-dismiss="modal"
          aria-label="Close"
        >
          No
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- Delete model end here -->


<!-- Upload model  -->


<div
  class="modal fade"
  id="UploadForum"
  tabindex="-1"
  role="dialog"
  aria-labelledby="UploadForum"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Upload File</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-whte">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'Forum_import' %}" method="post" enctype="multipart/form-data"  id="importValid">
          {% csrf_token %}
          <div class="modal-body">
              <input type="file" id="input-file-now" class="dropify" name="Forum_file" accept=".csv" />
              <div id="file-error" class="text-danger mt-2" style="display: none;"></div>

          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Submit</button>
            <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Close</button>
          </div>
        </form>
        
    </div>
  </div>
</div>
</div>
<!-- Upload model end here -->


{% endblock %}




{% block scripts %}


<script>
$(document).ready(function () {
    // Custom method for special character validation
    $.validator.addMethod("noSpecialChars", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9\s]*$/.test(value);
    }, "Special characters are not allowed.");


    $.validator.addMethod("noNumbers", function(value, element) {
    return this.optional(element) || !/\d/.test(value);
}, "Forum category cannot contain numbers.");



$.validator.addMethod("noSpace", function(value, element) {
  return !(/^\s|\s$|\s{2,}/.test(value));
}, "No excessive or leading/trailing spaces");
$.validator.addMethod("noNumbersOrSpecialChars", function (value, element) {
    // Check if the value contains numbers or special characters
    var containsNumbers = /\d/.test(value);
    var containsSpecialChars = /[^a-zA-Z0-9\s]/.test(value);

    // Return false if the value contains both numbers and special characters
    return !(containsNumbers && containsSpecialChars);
}, "Numbers and special characters are not allowed.");



    // Vendor Add/Edit Form Validation

    // create validation
    $("#CreateforumValid").validate({
        rules: {
          forum_category: {
                required: true,
                minlength: 4,
                noSpace: true,
                maxlength:20,
                noNumbersOrSpecialChars:true,
                noSpecialChars: true,
                noNumbers: true
                
                
            }
        },
        messages: {
          forum_category: {
                required: "Please enter the Forum category.",
                minlength: "Forum category must be at least 4 characters.",
                maxlength:"maximum of 20 charector is allowed"
            }
        },
        submitHandler: function (form) {
        form.submit();
      }
    });

    // edit validation 
  


    setTimeout(function() {
        $(".alert").fadeOut("slow", function() {
            // This function is called after the fadeOut completes
            $(this).remove(); // Removes the element from the DOM
        });
    }, 5000);

    $('.dropify').dropify();

// Attach validation logic to the form's submit event
$('#importValid').submit(function(e) {
    var fileInput = $('#input-file-now');
    var filePath = fileInput.val();
    var allowedExtensions = /(\.csv)$/i;
    var fileError = $('#file-error');

    if(filePath === '') {
        fileError.text('Please select a file.').show();
        e.preventDefault(); // Prevent form submission
    } else if(!allowedExtensions.exec(filePath)) {
        fileError.text('Please upload a file with .csv extension.').show();
        fileInput.val(''); // Clear the file input
        e.preventDefault(); // Prevent form submission
    } else {
        fileError.hide();
    }
});

// Optional: Hide error message when user attempts to change the file
$('#input-file-now').change(function() {
    $('#file-error').hide();
});}

);   
</script>
<script>
$(document).ready(function(){
  $.validator.addMethod("noSpace", function(value, element) {
    return !(/^\s|\s$|\s{2,}/.test(value));
}, "No excessive or leading/trailing spaces");

  $(".forumeditValid").each(function(){
    $(this).validate({
      rules: {
        forum_edit: {
                required: true,
                minlength: 4,
                maxlength:20,
                noNumbersOrSpecialChars:true,
                noSpecialChars: true,
                noNumbers: true,
                noSpace: true
            }
        },
        messages: {
          forum_edit: {
                required: "Please enter the Forum category.",
                minlength: "Forum category must be at least 4 characters.",
                maxlength:"maximum of 20 charector is allowed"
                
            }
        },

        submitHandler: function (form) {
        form.submit()
        }
      })
   });

  })


</script>


<!---Delete Script-->
<script>
  // Function to update the "Select All" checkbox status
  function updateSelectAllCheckbox() {
    var selectAllCheckbox = document.getElementById('selectAll');
    var rowCheckboxes = document.querySelectorAll('.row-checkbox');
    var allChecked = true;

    rowCheckboxes.forEach(function (checkbox) {
      if (!checkbox.checked) {
        allChecked = false;
      }
    });

    selectAllCheckbox.checked = allChecked;
    updateSelectedRowsList(); // Update selected rows list when "Select All" checkbox is clicked
  }

  // Function to update the selected rows list and toggle delete button visibility
  function updateSelectedRowsList() {
    var selectedRowsList = document.getElementById('selectedRowsList');
    var selectedIdsInput = document.getElementById('selected_ids_input');
    var deleteButton = document.getElementById('deleteButton');

    var selectedRows = document.querySelectorAll('.row-checkbox:checked');
    var selectedCount = selectedRows.length;

    if (selectedCount > 1) {
      deleteButton.style.display = 'block'; // Show delete button if more than one row is selected
    } else {
      deleteButton.style.display = 'none'; // Hide delete button if only one row or none is selected
    }

    var selectedIds = [];
    selectedRows.forEach(function (row) {
      var courseId = row.dataset.courseId;
      selectedIds.push(courseId);
    });

    // Set the value of the hidden input field to the selected IDs
    selectedIdsInput.value = selectedIds.join(',');

    // Update the delete modal message with the selected count
    document.getElementById('deleteMessage').textContent = "Are you sure you want to delete " + selectedCount + " records?";
  }

  // Event listener for checkbox change
  document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      updateSelectedRowsList();
      updateSelectAllCheckbox();
    });
  });

  // Event listener for select all checkbox change
  document.getElementById('selectAll').addEventListener('change', function () {
    var isChecked = this.checked;
    document.querySelectorAll('.row-checkbox').forEach(function (checkbox) {
      checkbox.checked = isChecked;
    });
    updateSelectedRowsList();
  });

  // Initially update delete button visibility
  updateSelectedRowsList();

  // Event listener for delete button click
  document.getElementById('confirmDelete').addEventListener('click', function () {
    // Perform delete action here
    // For now, let's just close the modal
    $('#deleteModal').modal('hide');
  });
</script>


{% endblock %}