{% extends 'base/base.html' %}
<!-- title here -->

{% block title %}QTLineone | Settings Page{% endblock %}
<!--  -->

{% block style %}

{% endblock %}
<!--  -->
<!-- title end here -->

{% block breadCrum %}
<!-- Breadcrumb -->
<div class="hk-pg-header d-flex justify-content-between mb-0">
  <h4 class="hk-pg-title m-3">Settings</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumb -->
{% endblock %}
{% block content %}
<!-- Course start here -->
<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Courses</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- course here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'courses' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Courses</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Courses 
          Ex: Python , Java, Testing"></i>
        </a>
      </div>
      <!-- course end here -->

      <!-- specializations -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'specialization' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Specializations</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Specialization
          Ex: Python Fullstack, Java Fullstack"></i>
        </a>
      </div>
      <!-- specializations end here -->

      <!-- Branch Here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'branches' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Branches</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Branch     Ex: Madhapur, Kukatpally"></i>
        </a>
      </div>
      <!-- Branch end here -->

      <!-- Batch types -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'batch_type' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Batch Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Batch Types 
          Ex: Morning, Evening"></i>
        </a>
      </div>
      <!-- Batch type end here -->

      <!-- Regulaitons -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'regulations' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Regulations</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Regulations for Batches"></i>
        </a>
      </div>
      <!-- Regulations -->

      <!-- Training Type -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'training_type' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Training Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Training Types Ex: Morning, After Noon"></i>
        </a>
      </div>

      <!-- Training Type end here -->
    </div>
  </div>
</div>
<!-- Course end here -->
<!--  -->
<!--  -->

<!-- Employee start here -->


<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Employee</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Department here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'departments' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Departments</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Department for Employee Ex: IT, Finance"></i>
        </a>
      </div>
      <!-- Department end here -->

      <!-- designation start here -->

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'designations' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Designations</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top" title="
          Create Designation for Employee Ex: Software Engineer, Manager"></i>
        </a>
      </div>

      <!-- designation end here -->

      <!-- Employee Type start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'employee_type' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Employee Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Employee Type Ex: Part Time, Full Time"></i>
        </a>
      </div>
      <!-- Employee Type end here -->
    </div>
  </div>
</div>

<!-- Employee end here -->
<!--  -->
<!--  -->

<!-- Finance and Accounts Type -->

<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Finance & Accounts</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Department here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'net_banking' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Net Bankings</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add Net Banking Transactions"></i>
        </a>
      </div>
      <!-- Department end here -->

      <!-- designation start here -->

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'upi_payments' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">UPI Payments</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add UPI Payment Transactions"></i>
        </a>
      </div>

      <!-- designation end here -->

      <!-- Employee Type start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'plans' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Plans</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Planes Ex: Monthly, Yearly"></i>
        </a>
      </div>
      <!-- Employee Type end here -->
    </div>
  </div>
</div>


<!-- Finance and ACcount Type end here -->
<!--  -->
<!--  -->

<!-- Other start here -->

<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Others</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Purpose of visiting here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'purpose_of_visit' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Purpose of visit</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Purpose of visit ex: internship"></i>
        </a>
      </div>
      <!-- Purpose of visiting end here -->

      <!-- Prospect type start here -->

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'prospect_type' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Prospect Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create prospect type Ex: Instagram, Friend"></i>
        </a>
      </div>

      <!-- Prospect type end here -->

    

      <!-- forum category start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'forum_category' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Forum Category</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Forum Category for the Course"></i>
        </a>
      </div>
      <!-- Forum category end here -->
      <!-- Complaints start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'complaints' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Complaints</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Complaints Ex: services, faculty, other"></i>
        </a>
      </div>
      <!-- Complaints end here -->
      <!-- Calender start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'calender' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Calendars</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Events Ex: meeting, training, conference, holiday"></i>
        </a>
      </div>
      <!-- Calender end here -->
      <!-- lead stage start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'Leads' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Leads Stages</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Lead Stage Ex: Call not responding, Not interested"></i>
        </a>
      </div>
      <!-- lead stage end here -->
      





    </div>
  </div>
</div>

<!-- Other end here -->

<!--  -->
<!--  -->


<!-- Vendor start here -->

<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Vendors</h5>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'vendor' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Vendor Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Vendor Type"></i>
        </a>
      </div>
 

    </div>
  </div>
</div>


<!-- Vendor end here -->


<!--  -->
<!--  -->

<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Job Categories</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- main job category start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'Job_type' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Job Types</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add Main Job Category ex: Software Developer"></i>
        </a>
      </div>
      <!-- main job category end here -->
      <!-- sub job category start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'job_category' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Job Cateogories</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add Sub job category ex: Tester, Developer"></i>
        </a>
      </div>
      <!-- sub job category end here -->
      <!-- qualification -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'qualification' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Qualifications</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add Qualification Ex: B.Sc, B.Tech"></i>
        </a>
      </div>


      <!-- qualification end here -->

      <!-- job role start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'jobrole' %}" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Job Roles</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Add Job Roles Ex: Software Developer, Tester"></i>
        </a>
      </div>





      <!-- job role end here -->





    </div>
  </div>
</div>


<!--  -->
<!--  -->


<!--  -->
<!--  -->

<div class="card mb-3">
  <div class="card-header border-bottom bg-secondary hk-pg-header">
    <h5 class="text-white hk-sec-title">Certification Center</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Certification name start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="#" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Certification Name</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Certification Name ex: Python, Java"></i>
        </a>
      </div>
      <!-- Certification name end here -->
      <!-- certification template start here -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="#" class="btn-block btn btn-primary d-flex justify-content-between shadow">
          <div class="my-auto">Certification Template</div>
          <i class="ion ion-ios-alert my-auto" data-toggle="tooltip" data-placement="top"
            title="Create Certification Template, images for certification creation"></i>
        </a>
      </div>
      <!-- certification template end here -->






    </div>
  </div>
</div>


<!--  -->
<!--  -->




{% endblock %}
{% block scripts %}

<scripts  src="../../static/dist/js/feather.min.js"></scripts> 



{% endblock %}